name: Test

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install poetry
          poetry install
      - name: Test with pytest
        run: |
          poetry run pytest